/*CSS GLOBAL*/
* {
    margin: 0px auto;
    padding: 0;
}

header {
    height: 100vh;
    display: flex;
    align-items: center;
    width: 30%;
    background-color: aqua;
}

body {
    min-height: 100%;
}

.menu {
    text-align: center;
}

main {
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

a {
    text-decoration: none;
}

li {
    margin-bottom: 15px;    
}

/*CSS INDEX*/
.body-profile {
    height: 100vh;
    display: flex;
    align-items: center;
    width: 70%;
    padding-left: 30px;
}

.personal-information {
    text-align: left;
    background-color: green;
}

